# Files and directories created by pub
.packages
.pub/
.dart_tool/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Node
node_modules/

# Directory created by dartdoc
doc/api/

tool/build_example.sh
*.json
!package.json

# Intellij/WebStorm
.idea/
